<mat-grid-list cols="4" rowHeight="1:2" gutterSize="15">
    <mat-grid-tile class="video-list" colspan="1">
        <!-- <mat-grid-tile-header>Header</mat-grid-tile-header> -->
        <mat-card class="list-card">
            <mat-nav-list>
                <ng-container *ngFor="let item of item_list; let $index = index">
                    <mat-list-item (click)="preview($index)" class="matlist-item">
                        <span matListItemIcon><mat-icon color="primary">play_arrow</mat-icon></span>
                        <span matListItemTitle>{{ item.title }}</span>
                        <span matListItemLine>{{ item.meta }}</span>
                        <button mat-icon-button (click)="download(item.src)" matListItemMeta>
                            <span>
                                <mat-icon color="primary">download</mat-icon>
                                <span class="download">Download</span>
                            </span>
                        </button>                      
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-nav-list>
        </mat-card>
        <!-- <mat-grid-tile-footer>Footer</mat-grid-tile-footer> -->
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <mat-card class="video-card">
            <app-video-player [hidden]="this.currentItem.length == 0" [selected]="currentItem"></app-video-player>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>