
<!-- <video-js
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'>
  <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
  <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm" />
  <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg" />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video-js> -->

<div class="video-player-wrapper">
  <h2>Demo Video</h2>
  <vg-player #myPlayer>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video [vgMedia]="$any(media)" [src]="activeVideo.src" #media id="singleVideo" preload="auto" crossorigin>
      <!-- <source src="../../assets/video/test.mp4" type="video/mp4"> -->
    </video>
  </vg-player>

  <mat-nav-list [ngStyle]="{'display': 'none'}">
    <mat-list-item *ngFor="let video of playlist; let $index = index" class="matlist-item">
        <span matListItemIcon><mat-icon>video_file</mat-icon></span>
        <span matListItemTitle> {{ video.title }}</span>
        <span matListItemLine>Produced by SS</span>
        <button mat-icon-button (click)="onClickPlaylistVideo(video, $index)" matListItemMeta>
            <span>
                <mat-icon color="primary">download</mat-icon>
                <span class="download">Download</span>
            </span>
        </button>
    </mat-list-item>
  </mat-nav-list>
</div>